<%- include('partials/header.ejs') %>
<div class="aboutme-container">
    <div class="item-1">
        <h3>Welcome to my little corner of the internet!    </h3>
        <img src="/images/profile.png" alt="profile pic">

        <div>
            <p>Hi, I’m Mahesh, the writer behind this blog. This space is where I share my thoughts, ideas, experiences, and passions with the world. Whether it’s about life, creativity, or those random late-night thoughts, you’ll find it all here.</p>   
        </div>
    </div>
    
    <div class="item-2">
    <h3>What You’ll Find Here</h3>
    <ul>
     <li>
        <div>
            <p>
                Personal Stories: <br>
                I love sharing bits and pieces of my journey, from exciting milestones to the lessons learned along the way.
            </p>
        </div>
     </li>
     <li>
        <div>
            <p>
                Ideas and Inspirations: <br>
                Whether it’s creative hobbies, travel adventures, or lessons from everyday life, this is where I turn my experiences into relatable stories.            </p>
        </div>
     </li>
     <li>
        <div>
            <p>
                Passion Projects: <br>
This blog serves as a canvas for experimenting with different topics, sharing insights, and connecting with like-minded readers.


            </p>
        </div>
     </li>
     <li>
        <div>
            <p>
                Thoughtful Conversations: <br>
                Every blog post is an invitation for readers to join in and share their thoughts  
            </p>
        </div>
     </li>
    </ul>
</div>
<div class="item-3">
    <h3> Why This Blog?</h3>
     <p>Everyone has a story, and this blog is mine. I started this journey to:</p>
     <ol>
        <li>Express: To share my thoughts in ways that resonate with readers around the world.</li>
        <li>Evolve: To reflect and grow while documenting life’s many adventures.
        </li>
        <li>Connect: To build a community of people who love exchanging ideas, perspectives, and inspiration</li>
     </ol>
</div>
<div class="item-4">
    <h3>Features</h3>
    <p>On this blog, you’ll enjoy features like:
    </p>
    <ul>
        <li>Create Your Own Posts: A seamless and intuitive way to put your ideas into words.
        </li>
        <li>Edit & Update: Keep your thoughts fresh and relevant with quick updates.
        </li>
        <li>Simple Navigation: Explore blog posts by date, category, or tags, making it easy to find what you love.</li>
    </ul>
</div>
</div>

<%- include('partials/footer.ejs') %>